
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bots - Universe List</title>
  <%- include("../parts/head.ejs") %>
</head>

<body>
  <%- include("../parts/navbar.ejs", { bot, user }) %>
  <br><br><br><br>
  <center>
    <img class="titlelogo" src="/img/christmas.png" alt="Universe List Logo" width="150" height="150">
    <h2 class="title"><b>Universe List</b></h2>
    <p><span class="typing_desc" style="font-size:18px;"></span></p>
    <script>
      new TypeIt(".typing_desc", {
          speed: 90,
          waitUntilVisible: true,
          startDelay: 1000,
        })
            .type("A place to find Discord bots, Universe List.")
            .move(-16)
            .delete(4)
            .type('servers')
            .move(16)
            .move(-31)
            .delete(5)
            .type('advertise your ')
            .move(15)
            .delete(7)
            .type('bots')
            .move(16)
            .go()
    </script>
    <!--
<div class="form-inline my-2 my-lg-0">
            <input id="search-box" style="margin-left: 425px;border-radius: 8px;" class="form-control" type="text" placeholder="Search" autocomplete="off">
            <button id="search-btn" class="btn btn-light my-2 my-sm-0" style="border-radius: 8px;" type="button">Search</button>
        </div>submittedOn
    -->
  </center>
  <br><br><br>
  <div class="botContainer">
    <h3><i class="fa-solid fa-robot"></i> <b>All Bots</b></h3>
    <p>These are the top voted bots for this month.</p>
    <% let allbots = bots %>
    <% let voted = allbots.sort((a,b) => b.votes - a.votes) %>
    <% for(let i = 0; i < voted.length; i++){ %>
    <div class="card" style="border-radius:10px;">
      <img src="https://cdn.discordapp.com/avatars/<%= voted[i].id %>/<%= voted[i].avatar %>.png" alt="<%= voted[i].name %>'s Avatar" draggable="false" class="botimg_main">
      <p class="botname_main"><%= voted[i].name %>
        <% if (voted[i].id === "1018001748020961311") { %>
          <span title="Official Bot"><i class="fa fa-circle-check"></i></span>
          <%  } %> <br>
        <span style="font-size:15px; font-weight:normal;"><i class="fa-solid fa-server"></i> 0 • <i class="fa-solid fa-check-to-slot"></i> <%= voted[i].votes %></span>
      </p>


      <div class="botdesc_main" style="height:75px;width:100%;flex:auto;padding:10px;">
        <i class="fa-solid fa-file-lines"></i> <%= voted[i].shortDesc %>
      </div>
      <div class="bottags_main" style="height:75px;width:100%;flex:auto;padding:10px;">
        <i class="fa-solid fa-hashtag"></i> <%= voted[i].tags %>
      </div>
      <div style="margin-left:20px;margin-top:-40px">
        <a href="/bots/<%= voted[i].id %>/">
          <button class="viewbtn">View</button>
      </div></a>
      <a href="/bots/<%= voted[i].id %>/vote">
        <button class="votebtn">Vote</button></a>
    </div></a>
    <% } %>
  </div>
  </div>
</body>
<br><br><br><br>
<%- include("../parts/footer.ejs") %>
<style>
  @media screen and (max-width: 757px) {
    .bot-card-col {
      margin: 0 30px;
    }
  }

  .card {
    height: 400px;
    width: 400px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
    margin-top: 15px;
    margin-left: auto;
    transition: all 0.2s;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 600px) {
    .botContainer {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto
    }
  }

  @media only screen and (min-width: 1080px) {
    .botContainer {
      width: 100%;
      padding-right: 15px;
      padding-left: 150px;
      margin-right: auto;
      margin-left: auto
    }
  }

  .viewbtn {
    background-color: #480ddd;
    height: 40px;
    width: 150px;
    border: none;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    bottom: 0;
    margin-left: 15px;
    margin-top: 65px;
  }

  .votebtn {
    background-color: #480ddd;
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 35px;
    color: white;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    margin-top: -40px;
  }

  .card_2 {
    background-color: #001724;
    width: 350px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all 0.2s;
    display: inline-block;
    height: 300px;
    margin-left: 305px;
    margin-top: 10px;
  }

  .card:hover {
    top: -7px;
  }

  .botname_main {
    color: white;
    font-size: 25px;
    margin-top: -95px;
    margin-left: 125px;
    border-radius: 10px;
    font-weight: bold;
  }

  .adbutton {
    background-color: #DF235B;
    width: 250px;
    height: 40px;
    border: none;
    overflow: visible;
    color: white;
    border-radius: 5px;
    margin-top: -50px;
    cursor: pointer;

  }

  .botimg_main {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;

  }

  .botdesc_main {
    color: white;
    font-size: 15px;
    border: 10px solid transparent;
    margin-top: 50px;
    overflow: hidden;
    text-align: left;

  }

  .bottags_main {
    color: white;
    font-size: 15px;
    border: 10px solid transparent;
    margin-top: 15;
    overflow: hidden;
    text-align: left;

  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .top_bots {
    color: ghostwhite;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 150px;
    position: static
  }

  .shortdesc {
    background-color: #001724;
    width: 350px;
    height: 500px;
    float: right;
    text-overflow: hidden;
    margin-right: 50px;
    margin-top: 100px;
    border-radius: 5px;
    position: absolute;
  }

  .secondbg {
    width: 100%;
    height: 100%;
    background-color: #001724;
  }

  .botimg {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    float: left;
    border: 7px solid #001724;
    margin-top: 50px;
    margin-left: -300px;
  }

  .botname {
    font-size: 30px;
    color: white;
    margin-left: -50px;
    margin-top: 80px;
  }
</style>
<script>
  $(function(params) {
    const searchBtn = $("#search-btn");
    searchBtn.click(function(event) {
      event.preventDefault();
      const searchBox = $("#search-box");
      const searchTerm = searchBox.val();
      if (searchTerm) {
        searchBtn.addClass("disabled");
        location.replace(`/search?q=${searchTerm}`);
      }
    });
  });
</script>

</html>