<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/multiselect.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
  <title>Certification - Discord Bots</title>
  <%- include("../parts/head.ejs") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
</head>
<%- include("../parts/navbar.ejs") %>

<div class="text-center" style="margin-top: 50px">
  <h5 style="color: white">
    <b>To certify your bot, you must meet the following requirements:</b>
  </h5>
  <ul style="color: white; list-style-type: none">
    <li>Your bot must follow Discord's Guidelines and TOS.</li>
    <li>Be on the botlist for 16+ days.</li>
    <li>Have 50 votes this current month.</li>
    <li>Bot is 100% original and not a fork of any kind.</li>
    <li>Must have a support server or documented GitHub page.</li>
  </ul>
  <br /><br />
  <form action="/bots/certify" method="POST">
    <h5 style="color: white"><b>Please select a bot you want to certify</b></h5>
    <p style="color: white; font-size: 15px; color: #fe4655">
      <b>If you don't see your bot, make sure it meets the requirements.</b>
    </p>
    <br />
    <select
      style="
        background-color: #202738;
        border-color: transparent;
        width: 400px;
        margin: 0 auto;
        color: white;
      "
      class="form-control"
      id="bot"
      name="bot"
      required
    >
      <option value="" disabled selected>Select a bot</option>
      <% for (const bot of bots) { %> <% if ( !bot.certified && bot?.servers> 0
      && bot?.monthlyVotes >= 0 && (new Date().getTime() - new
      Date(bot.submittedOn).getTime()) / (1000 * 60 * 60 * 24.0) >= 16) { %>
      <option value="<%= bot.id %>"><%= bot.name %></option>
      <% } %> <% } %>
    </select>
    <br /><br />
    <input
      style="margin-left: 45px"
      type="checkbox"
      id="tos"
      name="tos"
      value="tos"
      required
    />
    <label for="tos" style="color: white"
      >I accept Discord's
      <a href="https://discord.com/terms" target="_blank">Terms of Service</a>
      and
      <a href="https://discord.com/privacy" target="_blank"
        >Privacy Policy</a
      ></label
    ><br />
    <input type="checkbox" id="aup" name="aup" value="aup" required />
    <label style="margin-right: 60px; color: white" for="aup"
      >I accept Discord's
      <a href="https://discord.com/guidelines" target="_blank"
        >Community Guidelines</a
      ></label
    ><br />
    <br />
    <button
      style="
        border-radius: 7px;
        margin-top: 3px;
        background-color: #fe4655;
        border-color: #fe4655;
      "
      class="btn btn-primary pl-3 pr-3 mr-3"
      type="submit"
    >
      <i class="fa-solid fa-paper-plane"></i> Submit
    </button>
  </form>
</div>
<br /><br />
<hr />
<%- include("../parts/footer.ejs") %>
