<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/multiselect.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
  <title>Certifying <%- bot.name %> - Universe List</title>
  <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/navbar.ejs") %>
  <div class="container">
    <h2 style="color:white;margin-top: 175px;"><b>Certify Bot</b></h2>
    <p style="color:white;font-size: 20">Fill out the form below in order to edit your bot.</p>
    <hr class="my-4"><br>

            <div class="form">
              <form action="/bots/<%= bot.id %>/certify" method="POST">
                <div class="form-group required">
                  <label for="botID">Your Bot's Application ID</label>
                  <input type="number" class="form-control" value="<%= bot.id %>" name="id"
                    placeholder="1026362109287739423" aria-describedby="botIDhelp" autocomplete="off" readonly disabled>
                  <small id="botIDhelp" class="form-text text-muted">This field is read only</small>
                </div>
                <div class="form-group required">
                  <label for="botPrefix">Does your bot follow Discord's Guidelines and TOS?</label>
                  <input type="checkbox" class="form-control" value="<%= bot.prefix %>" name="prefix" id="botPrefix"
                    placeholder="vl!" autocomplete="off" required>
                </div>
                <div class="form-group required">
                  <label for="botPrefix">Does your bot follow the best practices for Discord bots?</label>
                  <input type="checkbox" class="form-control" value="<%= bot.prefix %>" name="prefix" id="botPrefix" placeholder="vl!"
                    autocomplete="off" required>
                </div>
                <div class="form-group required">
                  <label for="botPrefix">Does your bot follow all of the certification requirements?</label>
                  <small id="botInvitehelp" class="form-text text-muted">You can read the certification requirements <a style="color: #094cdb" target="__blank"
                      href="https://universe-list.xyz/certification">by clicking here.</a></small>
                  <input type="checkbox" class="form-control" value="<%= bot.prefix %>" name="prefix" id="botPrefix" placeholder="vl!"
                    autocomplete="off" required>
                </div>
                <div class="alert alert-dismissible alert-danger" id="form-error-popup" style="display: none;"></div>
                <p style="color: #555;">By clicking submit, you agree to our <a style="color: #094cdb" target="_blank"
                    href="https://universe-list.xyz/terms">TOS</a>, <a style="color: #094cdb" target="_blank" href="https://universe-list.xyz/certification">Certification Guidelines,</a> and the <a style="color: #094cdb"
                    target="_blank" href="https://discord.com/developers/docs/policies-and-agreements/terms-of-service">Discord
                    Developer TOS</a></p>
                <button type="submit" class="bluebtn"><i class="fa-solid fa-paper-plane"></i> Submit</button>
              </form>
            </div>
            <br><br>
  </div>
  </div>


  <style>
    .form-group.required label:after {
      content: " *";
      color: red;
    }

    .form-control {
      background-color: rgba(255, 255, 255, 0.743);
    }

    .desccard {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  </style>