<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
  <meta name="keywords" content="Universe List,botlist,discord,%- server.name %>,discordbots,discordservers">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  <title><%- server.name %> - Universe List</title>
  <%- include("../parts/head.ejs") %>
</head>

<body>
  <%- include("../parts/navbar.ejs", { bot, user }) %>

  <div class="container">
    <div style="background-color: transparent" class="jumbotron mt-5">
      <div class="row" style="width: 100%;">
        <div class="col-sm-2">

          <img style="border-radius: 50%;" class="card-img-top" src="<%= server.icon %>">

        </div>
        <div class="col-sm">
          <h3><%= server.name %></h3>
          <%- server.shortDesc %><br>
          <!--
                        <span style="border-radius: 5px;" class="badge badge-primary" style="font-size: 20px;"><i class="fa-solid fa-bomb"></i> Bumps: <%= server.bumps %></span>
                        <span style="border-radius: 5px;" class="badge badge-danger" style="font-size: 20px;"><i class="fa-solid fa-check-to-slot"></i> Votes: <%= server.votes %></span>
                        <span style="border-radius: 5px;" class="badge badge-danger" style="font-size: 20px;"><i class="fa-solid fa-eye"></i> Views: <%= server.views %></span>
                         -->
          <hr>
          </hr>
          <% if (server.invite) { %>
          <a href="/servers/<%= server.id %>/join" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-brands fa-discord"></i> Join</a>
          <% } %>
          <a href="/servers/<%= server.id %>/vote" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-solid fa-check-to-slot"></i> Vote</a>
          <% if (server.website) { %>
          <a href="<%= server.website %>" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-solid fa-globe"></i> Website</a>
          <% } %>
          <% if (server.support) { %>
          <a href="https://discord.gg/<%= bot.support %>" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-brands fa-discord"></i> Support</a>
          <% } %>
          <% if (user) { %>
          <% if (server.owner.includes(user.id) || client.guilds.cache.get(global.config.guilds.main).members.roles.cache.some((role)=> role.id === config.roles.bottester)) { %>
            <a href="/servers/<%= bot.id %>/edit" type="button" style="border-radius: 5px;" class="btn btn-warning pr-3 pl-3 mr-1"><i
                class="fa-solid fa-pen-to-square"></i> Edit</a>
            <% } %>
              <% } %>
        </div>
      </div>
    </div>
    <div class="infoContainer">
      <h2><i class="fa-solid fa-circle-info"></i> Information</h2>
      <hr>
      </hr>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-user-group"></i> Members: <strong><%= server.memberCount %></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-face-smile"></i> Emojis: <strong><%= server.emojis %></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-gem"></i> Boosts: <strong><%= server.boosts %></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-crown"></i> Owner:&nbsp;&nbsp;<strong><a style="color: white;" href="/users/<%- server.owner %>"><%= server.ownerTag %></a></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-hashtag"></i> Tags: <strong><%= server.tags %></strong></p><br>
      <h2><i class="fa-solid fa-chart-simple"></i> Statistics</h2>
      <hr>
      </hr>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-check-to-slot"></i> Votes: <strong><%= server.votes %></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-bomb"></i> Bumps: <strong><%= server.bumps %></strong></p>
      <p style="color: white; font-size: 16px;"><i class="fa-solid fa-eye"></i> Views: <strong><%= server.views %></strong></p>
    </div>
  </div>
  </div>
  </div>
  <br><br>
  <div class="container">
    <div class="desccard">
      <div class="card-body">
        <div id="bot-description"><%= server.desc %></div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <%- include("../parts/footer.ejs") %>

  <style>
    @media only screen and (max-width: 600px) {
      .infoContainer {
        width: 300px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
      }
    }

    @media only screen and (min-width: 1080px) {
      .infoContainer {
        width: 300px;
        margin-top: -75px;
        margin-right: -250px;
        margin-left: -250px;
      }
    }

    @media only screen and (max-width: 600px) {
      .desccard {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }

    @media only screen and (min-width: 1080px) {
      .desccard {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        width: 1000px;
        border-radius: 10px;
        margin-top: -500px;
        margin-right: 225px;
        margin-left: 225px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }

    .idk {
      width: 32px;
      height: 32px;
    }

    .owner {
      color: #D9E4EC;
      text-decoration: none;
    }

    .owner:hover {
      color: #D9E4EC;
      text-decoration: none;
    }

@media only screen and (min-width: 1080px) {
  .container {
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 }
}
  </style>
  <script>
    $(document).ready(function() {
      const descriptionBox = $("#bot-description");
      const descriptionBoxText = descriptionBox.text() || descriptionBox.val();
      const allowedTags = sanitizeHtml.defaults.allowedTags.concat(["address", "article", "aside", "footer", "header", "h1", "h2", "h3", "h4",
        "h5", "h6", "hgroup", "main", "nav", "section", "blockquote", "dd", "div",
        "dl", "dt", "figcaption", "figure", "hr", "li", "main", "ol", "p", "pre",
        "ul", "a", "abbr", "b", "bdi", "bdo", "br", "cite", "code", "data", "dfn",
        "em", "i", "kbd", "mark", "q", "rb", "rp", "rt", "rtc", "ruby", "s", "samp",
        "small", "span", "strong", "sub", "sup", "time", "u", "var", "wbr", "caption",
        "col", "colgroup", "table", "tbody", "td", "tfoot", "th", "thead", "tr"
      ]);
      const sanitizedRender = sanitizeHtml(descriptionBoxText, {
        allowedTags
      });
      descriptionBox.html(sanitizedRender);
    });

    var toastMixin = Swal.mixin({
      toast: true,
      icon: 'success',
      animation: false,
      position: 'top-right',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    });

    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success') && urlParams.get('success')) {
      toastMixin.fire({
        timer: 3000,
        icon: 'success',
        background: '#274472',
        html: `<p style='color:white; margin-top: 12px'>&nbsp;&nbsp;${urlParams.get('body')}</p>`
      });
    }
    if (urlParams.has('error') && urlParams.get('error')) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: urlParams.get('body'),
      })
    }
  </script>